[submodule "llm-translator-chrome-extension"]
	path = llm-translator-chrome-extension
	url = https://github.com/saida-ben/llm-translator-chrome-extension
[submodule "EngDarija-Translator_frontend"]
	path = EngDarija-Translator_frontend
	url = https://github.com/saida-ben/EngDarija-Translator_frontend
[submodule "EngDarija-Translator-backend"]
	path = EngDarija-Translator-backend
	url = https://github.com/saida-ben/EngDarija-Translator-backend
